doctype
html(lang='en')
    head
        title hydn.co / Hayden Bleasel
        meta(charset='utf-8')
        meta(name='description', content='#{description}')
        meta(name='author', content='Hayden Bleasel')
        meta(name='designer', content='Hayden Bleasel')
        meta(name='rating', content='general')
        meta(name='keywords', content='hayden, bleasel, product, design, development, sumry')
        meta(name='robots', content='index, follow')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
        meta(property='og:type', content='profile')
        meta(property='og:title', content='hydn.co / Hayden Bleasel')
        meta(property='og:url', content='#{homepage}')
        meta(property='og:description', content='#{description}')
        meta(property='og:locale', content='en_US')
        meta(property='twitter:card', content='summary_large_image')
        meta(property='twitter:site', content='@haydenbleasel')
        meta(property='twitter:title', content='hydn.co / Hayden Bleasel')
        meta(property='twitter:description', content='#{description}')
        meta(property='twitter:image', content='logo.png')
        meta(property='twitter:url', content='#{homepage}')
        link(rel='canonical', href='#{homepage}')
        link(rel='favicons', href='logo.png')
        style
            | html {
            |     background: #00BD9C;
            |     color: #fff;
            |     line-height: 1.7;
            |     font-family: Courier, monospace;
            |     height: 100%;
            |     cursor: default;
            |     overflow: hidden;
            |     padding-top: 20px;
            | }
            | body {
            |     position: fixed;
            |     bottom: 120px;
            |     left: 120px;
            |     width: 620px;
            |     font-size: 15px;
            | }
            | h1 {
            |     font-weight: normal;
            |     color: #7FDECD;
            |     font-size: 15px;
            | }
            | h2 {
            |     font-weight: normal;
            |     font-size: 21px;
            | }
            | span {
            |     margin: 0 10px;
            |     color: #33CAAF;
            | }
            | a, div a:hover {
            |     color: #FFF;
            | }
            | div a {
            |     color: #7FDECD;
            | }
            | @media (max-width: 920px) {
            |     body {
            |         bottom: 60px;
            |         left: 60px;
            |         width: 450px;
            |     }
            |     body, h1 {
            |         font-size: 13px;
            |     }
            |     h2 {
            |         font-size: 15px;
            |     }
            | }
            | @media (max-width: 600px) {
            |     body {
            |         bottom: 30px;
            |         left: 30px;
            |         width: 240px;
            |     }
            |     body, h1 {
            |         font-size: 13px;
            |     }
            |     h2 {
            |         font-size: 15px;
            |     }
            |     span {
            |         display: none;
            |     }
            |     div a {
            |         display: block;
            |    }
            | }
    body
        h1 hydn.co / Hayden Bleasel
        h2
            | I lead Product Design and Development at 
            a(href='https://sumry.in/') Sumry
            | . I like building cool things like 
            a(href='http://theme.ink/') Theme Ink
            | . I also design interesting things and write Node modules like 
            a(href='https://github.com/haydenbleasel/catalyst') Catalyst
            |  and 
            a(href='https://github.com/haydenbleasel/favicons') Favicons
            |  in my spare time.
        div
            a(href='https://sumry.in/hayden') Sumry
            span /
            a(href='https://twitter.com/haydenbleasel') Twitter
            span /
            a(href='https://github.com/haydenbleasel') GitHub
            span /
            a(href='https://dribbble.com/haydenbleasel') Dribbble
            span /
            a(href='https://www.npmjs.com/~haydenbleasel') NPM
            span /
            a(href='mailto:haydenbleasel+hydn@gmail.com') Email
