doctype
html(lang='en')
    head
        block header
        meta(charset='utf-8')
        meta(name='description', content='#{description}')
        meta(name='author', content='Hayden Bleasel')
        meta(name='designer', content='Hayden Bleasel')
        meta(name='rating', content='general')
        meta(name='keywords', content='hayden, bleasel, product, design, development')
        meta(name='robots', content='index, follow')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
        meta(property='og:type', content='profile')
        meta(property='og:title', content='hydn.co / Hayden Bleasel')
        meta(property='og:url', content='#{homepage}')
        meta(property='og:description', content='#{description}')
        meta(property='og:locale', content='en_US')
        meta(property='twitter:card', content='summary_large_image')
        meta(property='twitter:site', content='@haydenbleasel')
        meta(property='twitter:title', content='hydn.co / Hayden Bleasel')
        meta(property='twitter:description', content='#{description}')
        meta(property='twitter:image', content='logo.png')
        meta(property='twitter:url', content='#{homepage}')
        link(rel='canonical', href='#{homepage}')
        link(rel='favicons', href='logo.png')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display')
        <!-- bower:css -->
        <!-- endbower -->
        link(rel='stylesheet', href='styles.css', inline)
        <!--[if lt IE 9]>
        script(src='vendor/html5shiv-printshiv.js', inline)
        <![endif]-->
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-46564523-6', 'auto');
            ga('send', 'pageview');

    body(data-spy="affix", data-offset-top="40")
        
        nav
            .container
                img#logo
                #links
                    a(href="/") Home
                    a(href="/blog.html") Blog
                    a(href="/design.html") Design
                    a(href="/code.html") Code
                    a(href="/photos.html") Photos
                    a(href="/music.html") Music
                #social
                    a(href='https://twitter.com/haydenbleasel', target='_blank')
                        i.fa.fa-twitter
                    a(href='https://instagram.com/hayden.bleasel', target='_blank')
                        i.fa.fa-instagram
                    a(href='https://dribbble.com/haydenbleasel', target='_blank')
                        i.fa.fa-dribbble
                    a(href='https://soundcloud.com/haydenbleasel', target='_blank')
                        i.fa.fa-soundcloud
                    a(href='https://github.com/haydenbleasel', target='_blank')
                        i.fa.fa-github
                    a(href='https://medium.com/@haydenbleasel', target='_blank')
                        i.fa.fa-medium
                    a(href='https://angel.co/haydenbleasel', target='_blank')
                        i.fa.fa-angellist
                    a(href='http://twitch.tv/haydenbleasel', target='_blank')
                        i.fa.fa-twitch
                    a(href='https://steamcommunity.com/id/haydenbleasel', target='_blank')
                        i.fa.fa-steam
        
        block content
        
        footer.container
            p © 2015 — Hayden Bleasel. All rights reserved.
            p I designed and built the 
                span#resolution 4,301,280
                |  pixels on this page.
            p Basically every photo taken by 
                a(href="http://www.maryannemade.com/") Maryanne Nguyen
        <!-- bower:js -->
        <!-- endbower -->
        script(src='scripts/main.js', inline)
        block footer
